*.png
*.jpg
*.ptx
*.npy
!cache/color_lut2.npy
!cache/prebaked_disk_noise_npgs.npy
!docs/images/*.png
*.bmp
*.tif
*.exr
*.tiff
*.mp4
__pycache__/
*.pyc
.vs/
.vscode/
output_frames/
build/
archive/
backups/
ai_gc.md
failed/
main_downup_process.py
.fuckucoderc.json
temp/
cfg/offline.py
*.ncu-rep
output_frames_cloud_experiment/
output_frames_cpu_test/
output_frames_cpu_offline_config_test/
*.dll
*.pyd
misc/
